{% extends 'layout.html' %}
{% load static %}

{% block title %}Enter new password{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand" href="/">
            <img src="{% static 'archive/images/chess.png' %}" alt="Site logo" style="margin-left: 20px; width: 50px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="/">
                        <i class="fa fa-home" aria-hidden="true" style="color: white; font-size: 20px;"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/profile">
                        <i class="fa fa-user" aria-hidden="true" style="color: white; font-size: 20px;"></i>
                        Profile
                    </a>
                </li>

                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/admin">
                            <i class="fa fa-cogs" aria-hidden="true" style="color: white; font-size: 20px;"></i>
                            Settings
                        </a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'logout' %}">
                        <i class="fa fa-sign-out" aria-hidden="true" style="color: white; font-size: 20px;"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{% endif %}

{% if validlink %}
<div class="container d-flex flex-column justify-content-center">
  <h1 class="text-center">Set a new password!</h1>
  <form method="POST" class="text-center">
    {% csrf_token %}
    {{ form.as_p }}
      <button class="btn btn-primary btn-lg" type="submit">Change my password</button>
  </form>
</div>
{% else %}
<div class="container d-flex flex-column justify-content-center">
  <p class="text-center">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
</div>
{% endif %}
{% endblock %}