{% extends 'layout.html' %}
{% block title %}Home{% endblock %}

{% load static %}

{% block content %}
<form method="post" action="{% url 'game-add' %}">
  {% csrf_token %}
    <div class="form-row d-flex justify-content-center">
        <div class="form-group col-md-4 m-2">
            <label for="whitePlayer">White player</label>
            <input class="form-control" id="whitePlayer" name="whitePlayer" required>
        </div>
        <div class="form-group col-md-4 m-2">
            <label for="whiteRank">White rank</label>
            <input class="form-control" id="whiteRank" name="whiteRank" type="number" min="100" max="3100" required>
        </div>
    </div>

    <div class="form-row d-flex justify-content-center">
        <div class="form-group col-md-4 m-2">
            <label for="blackPlayer">Black player</label>
            <input class="form-control" id="blackPlayer" name="blackPlayer" required>
        </div>
        <div class="form-group col-md-4 m-2">
            <label for="blackRank">Black rank</label>
            <input class="form-control" id="blackRank" name="blackRank" type="number" min="100" max="3100" required>
        </div>
    </div>

    <div class="form-row d-flex justify-content-center">
        <div class="form-group col-md-4 m-2">
            <label for="time">Game time (minutes)</label>
            <input type="number" class="form-control" id="time" name="time" min="1" max="180" required>
        </div>

        <div class="form-group col-md-4 m-2">
            <label for="increment">Increment (seconds)</label>
            <input type="number" class="form-control" id="increment" name="increment" min="0" max="60" required>
        </div>
    </div>

    <div class="form-row d-flex justify-content-center">
        <div class="form-group col-md-4 m-2">
            <label for="date">Play date</label>
            <input type="date" class="form-control" id="date" name="date" required>
        </div>

        <div class="form-group col-md-4 m-2">
            <label for="moves">Moves PGN</label><br>
            <textarea class="form-control" id="moves" rows="3" name="moves" required></textarea>
        </div>
    </div>

    <div class="form-row d-flex justify-content-center">
        <div class="form-group col-md-8 m-2">
            <label for="note">Note</label>
            <textarea class="form-control" id="note" rows="3" name="note" required></textarea>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success btn-lg m-5 px-5">Add</button>
    </div>
</form>

<script>
    let today = new Date();
    let dd = today.getDate();
    let mm = today.getMonth() + 1;
    let yyyy = today.getFullYear();
    if(dd < 10){
        dd = '0' + dd;
    }
    if(mm < 10){
        mm = '0' + mm;
    }
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById('date').setAttribute("max", today);
</script>
{% endblock %}