{% extends 'layout.html' %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="container d-flex flex-column justify-content-center">
      <h2 class="text-center" style="width: 100%; margin: 20px 0">Hello, {{ user.username }} !</h2>

      <div class="d-flex justify-content-center">
        <a class="btn btn-success btn-lg" href="{% url 'list' %}" role="button" style="margin-right: 5px">
          Show archive
        </a>

        <a class="btn btn-outline-danger btn-lg" style="margin-left: 5px" href="{% url 'add_game' %}">
          Add new game
        </a>
      </div>

    </div>

{% else %}
<div class="container text-center">
    <h2 class="text-center">You are not logged in</h2>
    <a href="{% url 'login' %}">Log In</a>
</div>
{% endif %}
{% endblock %}