{% extends 'layout.html' %}
{% block title %}Home{% endblock %}

{% load static %}

{% block content %}
<form method="get" action="{% url 'game-list' %}" class="mt-3">
  <div class="row">
    <div class="col-xl-1">
      <label for="sort_by_id" class="align-middle form-label">Sort by</label>
    </div>
    <div class="col-xl-3">
      <select id="sort_by_id" name="sort_by" class="form-select">
        <option value="game_date" {% if sort_by == 'game_date' %}selected{% endif %}>Date</option>
        <option value="game_time" {% if sort_by == 'game_time' %}selected{% endif %}>Game time</option>
        <option value="note" {% if sort_by == 'note' %}selected{% endif %}>Note</option>
      </select>
    </div>
    <div class="col-xl-2">
      <label for="sort_order_id" class="d-none">Ordering</label>
      <select id="sort_order_id" name="order" class="form-select">
        <option value="asc" {% if order != 'desc' %}selected{% endif %}>Ascending</option>
        <option value="desc" {% if order == 'desc' %}selected{% endif %}>Descending</option>
      </select>
    </div>
    <div class="col">
      <button class="btn btn-primary" type="submit">Sort</button>
    </div>
  </div>
</form>

<div class="mb-5 container">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="collapseExample">
    Filters
  </button>
  <div id="filters" class="collapse mt-5 container">
      <div class="card card-body row container">
        <form method="get" action="{% url 'game-list' %}" class="row ">
          {% csrf_token %}
          <div class="form-group col-xl-2 col-md-6 d-flex flex-column">
            <label class="form-label">Search by player name:</label>
            <input id="player_name" name="player_name" class="form-control">
          </div>
          <div class="form-group col-xl-2 col-md-6 d-flex flex-column">
            <label class="form-label">Search by date interval:</label>
            <input name="date_from" id="date_from" type="date" class="form-control mb-2">
            <input name="date_to" id="date_to" type="date" class="form-control">
          </div>
          <div class="form-group col-xl-3 col-md-6 d-flex flex-column">
            <label class="form-label">Search by ranking interval:</label>
            <input name="ranking_from" id="ranking_from" type="number" class="form-control mb-2">
            <input name="ranking_to" id="ranking_to" type="number" class="form-control">
          </div>
          <div class="form-group col-xl-2 col-md-6 d-flex flex-column" >
            <label class="form-label">Search by game time:</label>
            <input type="number" min="1" name="game_time" id="game_time" class="form-control">
          </div>
          <div class="form-group col-xl-2 col-md-6 d-flex flex-column">
            <label class="form-label">Search by first move:</label>
            <select id="first_move" name="first_move" class="form-select">
              <option disabled selected value="False">--select first move--</option>
              <option name="e4">e4</option>
              <option name="e4">d4</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary mt-3 col-xl-2 col-md-6">Search</button>
        </form>
      </div>
    </div>
</div>
<table class="table align-middle">
  <tbody>
    {% for game in object_list %}
      <tr>
        <td>{{ game.note }}</td>
        <td>{{ game.game_time.game_time }}+{{ game.game_time.time_increment }}</td>
        <td>{{ game.game_date }}</td>
        <td>
          {% for player_detail in game.playerdetail_set.all %}
            {{ player_detail.player.name }} ({{ player_detail.rate }})
          {% endfor %}
        </td>
        <td>
          <a class="btn btn-primary" href="{% url 'details' pk=game.id %}" role="button">Details</a>
          <a class="btn btn-danger" href="{% url 'game-delete' game.id %}" role="button">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}