{% extends 'layout.html' %}
{% block title %}Home{% endblock %}

{% load static %}

{% block content %}
<table class="table align-middle">
  <tbody>
    {% for game in object_list %}
      <tr>
        <td>{{ game.note }}</td>
        <td>{{ game.game_time.game_time }}+{{ game.game_time.time_increment }}</td>
        <td>{{ game.game_date }}</td>
        <td>
          {% for player_detail in game.playerdetail_set.all %}
            {{ player_detail.player.name }} ({{ player_detail.rate }})
          {% endfor %}
        </td>
        <td>
          <a class="btn btn-primary" href="{% url 'details' pk=game.id %}" role="button">Details</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}